<h1 class="titulo">Lista de productos en tiempo real</h1>
<div class="d-flex justify-content-center w-100 bg-warning bg-gradient">
  <div class="w-50">
    <h2 class="titulo">Add Product</h2>

    <form action="submit">
      <label>Title:</label>
      <input
        class="form-control form-control-sm w-75"
        type="text"
        aria-label="default form-control-sm input example"
      />
      <label>Description:</label>
      <input
        class="form-control form-control-sm w-75"
        type="text"
        aria-label="default form-control-sm input example"
      />
      <label>Code:</label>
      <input
        class="form-control form-control-sm w-75"
        type="text"
        aria-label="default form-control-sm input example"
      />
      <label>Price:</label>
      <input
        class="form-control form-control-sm w-75"
        type="text"
        aria-label="default input example"
      />
      <label>Status:</label>
      <input
        class="form-control form-control-sm w-75"
        type="text"
        aria-label="default input example"
      />
      <label>Stock:</label>
      <input
        class="form-control form-control-sm w-75"
        type="text"
        aria-label="default input example"
      />
      <label>Category:</label>
      <input
        class="form-control form-control-sm w-75"
        type="text"
        aria-label="default input example"
      />
      <label>Url img:</label>
      <input
        class="form-control form-control-sm w-75"
        type="text"
        aria-label="default input example"
      />
      <button type="submit" class="btn btn-success boton">Agregar</button>
    </form>

  </div>
  <div class="w-50">
    <h2 class="titulo">Remove Product</h2>

    <form action="">
      <label>Id:</label>
      <input
        class="form-control form-control-sm w-75"
        type="text"
        aria-label="default form-control-sm input example"
      />
      <button type="submit" class="btn btn-danger boton">Remove</button>
    </form>
  </div>
</div>
<div id="products"></div>

<script src="/socket.io/socket.io.js"></script>

<script src="/js/main.js"></script>